@model Outlay

@{
    ViewData["Title"] = "DeleteOutlay";
}

<h1>DeleteOutlay</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Outlay</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimePosted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTimePosted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeChanged)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTimeChanged)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OutlayDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OutlayDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OutlayDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OutlayDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status.StatusName)
        </dd>
    </dl>
    
    <form asp-action="DeleteOutlay">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
        <a class="btn btn-sm btn-outline-success" asp-action="IndexOutlays">Back to List</a>
    </form>
</div>
