@model NBS.Models.DataModels.Outlay

@{
    ViewData["Title"] = "DetailsOutlay";
}

<h1>DetailsOutlay</h1>

<div>
    <h4>Outlay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimePosted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimePosted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeChanged)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeChanged)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutlayDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutlayDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutlayDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutlayDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-outline-success" asp-action="EditOutlay" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-sm btn-outline-success" asp-action="IndexOutlays">Back to List</a>
</div>
